---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ReportForm from '../components/ReportForm.astro';
import Footer from '../components/Footer.astro';
import LoadingSpinner from '../components/LoadingSpinner.astro';
import LoginModal from '../components/LoginModal.astro';
---

<Layout title="OlasApp - Reportes de Surf Inteligentes">
	<Header />
	<main>
		<Hero />
		<ReportForm />
	</main>
	<Footer />
	<LoadingSpinner />
	<LoginModal />
</Layout>
